#main {
    padding: 10px;
}

.tick line{
  opacity: 0.2;
  stroke-dasharray: 5,5;
}

.bg {
  opacity: 0.5;
}

.selected circle{
  fill: #ffcc66;
}

.legend circle {
    stroke: #555;
}

text {
    font-size: 12px;
    font-weight: bold;
}

.bar {
    opacity: 0.8;
}

.hidden {
  opacity: 0.2;
}